.hero {
  background: #FF416C;
  color: #fff;

  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  position: relative;
  
  height: 100vh;
  min-height: 640px;

  @media (max-width: 1022px) {
    height: 640px;
  }

  @media screen and (max-width: 606px) {
    height: 570px;
    min-height: 570px;
  }

  &__header {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    text-decoration: none;

    @media screen and (max-width: 606px) {
      display: none;
    }
  }

  &__logo-mobile {
    display: none;
    text-decoration: none;

    @media screen and (max-width: 606px) {
      display: block;
    }
  }

  &__nav {
    @media screen and (max-width: 606px) {
      display: block;
    }
  }

  &__link {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }

    &--usable {
      color: #fff;
      
      &:hover {
        color: darken($color: #fff, $amount: 19%);
      }
    }

    @media screen and (max-width: 606px) {
      display: block;
      margin: 0;
      margin-bottom: 5px;
    }
  }

  &__pic {
    max-width: 100%;
    height: auto;

    @media (max-width: 798px) {
      display: none;
    }

    &--mobile {

      display: none;

      @media (max-width: 798px) {
        display: block;
        max-width: 75%;
        padding-top: 15px;
        margin: 0 auto;
        height: auto;
      }

      @media screen and (max-width: 606px) {
        max-width: 100%;
      }
    }

    @media screen and (max-height: 780px) {
      display: block;
      margin: 0 auto;
      max-width: 80%;

      @media (max-width: 798px) {
        display: none;
      }
    }
  }

  &__text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding-top: 15px;
  }

  &__title {
    line-height: 150%;
    font-size: 42px;
    padding: 0;
    padding-top: 40px;
    margin: 0;
    width: 850px;
    text-align: center;

    @media screen and (max-height: 890px) {
      padding-top: 35px;
      font-size: 36px;
    }

    @media screen and (max-height: 845px) {
      padding-top: 25px;
      font-size: 34px;
    }

    @media screen and (max-height: 805px) {
      padding-top: 15px;
      font-size: 32px;
    }
    
    @media (max-width: 1022px) {
      font-size: 32px;
      
      @media screen and (min-height: 640px) {
        padding-top: 15px;
        font-size: 32px;
      }
    }

    @media (max-width: 798px) {
      width: 100%;
      font-size: 26px;
    }

    @media screen and (max-width: 606px) {
      font-size: 26px;
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    line-height: 150%;
    font-size: 32px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    width: 800px;
    text-align: center;

    @media screen and (max-height: 890px) {
      font-size: 28px;
    }

    @media screen and (max-height: 845px) {
      font-size: 26px;
    }

    @media screen and (max-height: 805px) {
      font-size: 24px;
    }

    @media screen and (max-height: 720px) {
      display: none;
    }

    @media (max-width: 1022px) {
      width: 520px;
      font-size: 18px;

      @media screen and (min-height: 640px) {
        display: block;
        font-size: 18px;
      }
    }

    @media (max-width: 798px) {
      padding-top: 10px;
      width: 70%;
      font-size: 16px;
    }

    @media screen and (max-width: 606px) {
      display: none;
    }
  }

  &__button {
    margin-top: auto;
    bottom: 4%;
    left:0;
    right:0;
    margin:auto;
    width:300px;
    position: absolute;
    font-size: 24px;
    color: #fff;
    padding: 24px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #00A2E4;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    transition: 0.3s;

    &:hover {
      background-color: lighten($color: #00A2E4, $amount: 5%);
    }

    @media screen and (max-height: 890px) {
      padding: 16px 48px;
      bottom: 4%;
    }

    @media screen and (max-height: 845px) {
      padding: 14px 44px;
      bottom: 4%;
    }

    @media screen and (max-height: 805px) {
      padding: 12px 40px;
      bottom: 4%;

    } 

    @media (max-width: 1022px) {
      font-size: 20px;

      @media screen and (min-height: 640px) {
        padding: 14px 0;
      }
    }

    @media screen and (max-width: 606px) {
      position: relative;
      padding: 18px 0;
      font-weight: bold;
    }
  }


}

.icon-logo {
  fill: #fff;
  height: 80px;
  width: 220px;
}

.logo-mobile {
  width: 143px;
  height: 22px;
  fill: #fff;
}