html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul,
ol {
  list-style-type: none;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}