section.features
  .container
    .features__list
      .features__item
        img.features__picture(src="./img/feature-item-one.png", alt="feature-item-one")
        .features__text
          h3.features__title. 
            УНИКАЛЬНЫЙ ДИЗАЙН<span class="features__accent">.</span>
          p.features__desc.
            Наша команда придумает уникальный, яркий, красочный сайт который поможет Вам привлечь много новых клиентов! Мы разработаем для Вас уникальный бренд с собственным логотипом и стилем компании.
      .features__item
        img.features__picture(src="./img/feature-item-two.png", alt="feature-item-two")
        .features__text
          h3.features__title. 
            РАЗРАБОТКА САЙТА<span class="features__accent">.</span>
          p.features__desc.
            Разработаем сайт любой сложности. HTML5, CSS3, SCSS Javascript, jQuery, PHP, React  и многие другие современные технологии что бы Ваш сайт был живым, интересным и одновременно удобным в использовании. Для каждого сайта обязательная адаптивная верстка и отдельный мобильный дизайн    
      .features__item
        img.features__picture(src="./img/feature-item-three.png", alt="feature-item-three")
        .features__text
          h3.features__title. 
            ПРОДВИЖЕНИЕ<span class="features__accent">.</span>
          p.features__desc.
            Мы обеспечим качественный маркетинг для сайта в интернете и в всех возможных социальных сетях, проанализируем сайты конкурентов, проведем профессиональную внутреннию и внешнюю оптимизацию.