footer.footer
  .container
    .footer__inner
      .footer__social
        a.footer__link(href="#") 
          +icon('fb','footer__icon')
        a.footer__link(href="#") 
          +icon('print','footer__icon')
        a.footer__link(href="#") 
          +icon('insta','footer__icon')
        a.footer__link(href="#") 
          +icon('skype','footer__icon')